.banner_about {
  margin: 50px 0 43px 0;
  background: linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
    url("../../assets/img/kalen-emsley-Bkci_8qcdvQ-unsplash 2.png") 50% 50% /
      cover no-repeat;
  height: 223px;
  border-radius: 25px;
  position: relative;

  @media screen and (max-width: 655px) {
    margin: 20px 0 20px 0;
    padding-top: 27px 0 22px 0;
    height: 111px;
  }
}

.main_apropos {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (max-width: 655px) {
    gap: 20px;
  }
  section {
    div {
      border-radius: 5px;

      .collapse {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        background-color: #ff6060;

        @media screen and (max-width: 655px) {
          height: 30px;
        }

        &.active + .hidden-box {
          height: auto;
          padding: 20px 28px;

          @media screen and (max-width: 655px) {
            height: auto;
            padding: 10px 15px;
          }
        }
        h2 {
          color: white;
          margin: 0px;
          font-size: 24px;
          font-weight: 700;
          line-height: 142.6%;

          @media screen and (max-width: 655px) {
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: 142.6%;
          }
        }

        .rotate_arrow {
          cursor: pointer;

          @media screen and (max-width: 655px) {
            transform: scale(0.6);
          }
        }
      }
      .hidden-box {
        height: 0px;
        padding: 0px;
        border-radius: 0px;
        background-color: #f6f6f673;
        overflow: hidden;
        transition: all 0.5s;

        p {
          margin: 0px;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 142.6%;

          @media screen and (max-width: 655px) {
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.6%;
          }
        }
      }
    }
  }
}
