* {
  font-family: "montserrat";
  box-sizing: border-box;
  font-size: 24px;

  @media screen and (max-width: 655px) {
    font-size: 12px;
  }

  .container {
    padding: 45px 80px 50px;

    @media screen and (max-width: 655px) {
      padding: 20px;
    }

    .header_home {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      @media screen and (max-width: 655px) {
        gap: 20px;
      }

      img {
        width: 210.322px;
        height: 68px;

        @media screen and (max-width: 655px) {
          width: 145px;
          height: 46.881px;
        }
      }

      .nav_home {
        display: flex;
        align-items: center;
        gap: 57px;

        @media screen and (max-width: 655px) {
          gap: 26px;
        }
        a {
          color: black;
          text-decoration: none;

          @media screen and (max-width: 655px) {
            font-size: 12px;
          }
        }

        .textdecoration {
          text-decoration: underline;
        }
      }
    }

    .banner {
      margin: 50px 0 43px 0;
      background: linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
        url("../../assets/img/Image source 1.png") 50% 50% / cover no-repeat;
      height: 223px;
      border-radius: 25px;
      position: relative;

      @media screen and (max-width: 655px) {
        margin: 19px 0;
        padding-top: 27px;
        padding-bottom: 22px;
        height: 111px;
      }

      p {
        margin: 0;
        color: #fff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 142.6%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        text-align: center;

        @media screen and (max-width: 655px) {
          font-size: 24px;
          left: 42%;
          text-align: left;
        }
      }
    }

    .main_home {
      background-color: #f6f6f6;
      border-radius: 25px;

      @media screen and (max-width: 655px) {
        background-color: transparent;
      }

      ul {
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-evenly;
        margin: 0px;

        @media screen and (max-width: 655px) {
          grid-template-columns: 1fr;
          padding: 0px;
          gap: 20px;
        }
        li {
          list-style-type: none;
          position: relative;
          width: 340px;
          height: 340px;
          a {
            display: block;
            text-decoration: none;
            img {
              display: block;
              width: 340px;
              height: 340px;
              border-radius: 10px;
            }

            .shade {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 340px;
              height: 340px;
              background-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0.414)
              );
              border-radius: 10px;
            }
            p {
              position: absolute;
              bottom: 7%;
              left: 5%;
              font-size: 18px;
              font-weight: 700;
              color: #fff;
              width: 300px;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .footer_home {
    display: flex;
    justify-content: center;
    background-color: black;

    div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 28px;
      padding: 66px 0 29px 0;

      img {
        width: 122px;
        height: 39.444px;
      }

      p {
        color: white;
        margin: 0px;
      }
    }
  }
}
