.main_apropos {
  width: 1023px;
  margin: 38px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media screen and (min-width: 375px) and (max-width: 1300px) {
    width: 375px;
  }

  section {
    margin: 0;

    @media screen and (min-width: 375px) and (max-width: 1300px) {
      margin: 15px auto;
    }

    div {
      .button {
        background-color: #ff6060;
        display: flex;
        flex-wrap: wrap;
        border: none;
        border-radius: 5px;
        width: 1023px;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 10px 15px;
        text-decoration: none;
        color: white;
        position: relative;
        z-index: 1;

        @media screen and (min-width: 375px) and (max-width: 1300px) {
          width: 335px;
        }

        h2 {
          margin: 0;
          color: #fff;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;

          @media screen and (min-width: 375px) and (max-width: 1300px) {
            font-size: 13px;
          }
        }

        .rotate_arrow {
          background-color: transparent;
          border: 0px;
          @media screen and (min-width: 375px) and (max-width: 1300px) {
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .collapse {
      transform: "translateY(0)";
      transition: "all 0.5s";
    }

    p {
      margin: 0;
      text-align: left;
      font-size: 18px;
      border-radius: 10px 10px 5px 5px;
      font-weight: 400;
      padding: 0;
      background: var(--Gray, rgba(246, 246, 246, 0.45));
      width: 1023px;
      z-index: 0;

      @media screen and (min-width: 375px) and (max-width: 1300px) {
        font-size: 13px;
        padding: 15px 15px 15px 15px;
      }

      @media screen and (min-width: 375px) and (max-width: 1300px) {
        font-size: 13px;
        width: 335px;
      }
    }
  }
}
