.main_apropos {
  width: 1023px;
  margin: 19px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 375px) and (max-width: 1300px) {
    width: 375px;
  }

  section {
    margin: 0;

    @media screen and (min-width: 375px) and (max-width: 1300px) {
      margin: 15px auto;
    }

    div {
      width: 1023px;

      @media screen and (min-width: 375px) and (max-width: 1300px) {
        width: 335px;
      }
      .button {
        border-radius: 5px;
        background: var(--Red, #ff6060);
        width: 1023px;
        border: none;
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 10px 20px 10px 10px;
        align-items: center;

        &.active + .hidden-box {
          height: auto;
          padding: 20px 28px;

          @media screen and (min-width: 375px) and (max-width: 1300px) {
            padding: 15px;
          }
        }

        @media screen and (min-width: 375px) and (max-width: 1300px) {
          width: 335px;
          height: 30px;
          padding: 10px 6px 10px 10px;
        }

        h2 {
          margin: 0;
          font-size: 24px;

          @media screen and (min-width: 375px) and (max-width: 1300px) {
            font-size: 13px;
          }
        }

        .rotate_arrow {
          border: none;
          background-color: transparent;
          padding: 0;

          @media screen and (min-width: 375px) and (max-width: 1300px) {
            transform: scale(0.6);
          }
        }
      }

      .hidden-box {
        overflow: hidden;
        height: 0;
        margin: 0;
        background-color: #f6f6f673;
        transition: all 0.5s;

        p {
          padding: 0px;
          font-size: 18px;
          margin: 0px;

          @media screen and (min-width: 375px) and (max-width: 1300px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
